@model StuffToDo.Web.Models.TodoItem
@{ 
    var todoElementId = string.Format("todo-item-{0}", Model.Id);
    var completeAction = Model.Completed ? "Uncomplete" : "Complete";
}
<div class="todo-item @(Model.Completed ? "completed" : "uncompleted")">
    <span class="doby">@Model.DoBy.ToString("yyyy-MM-dd")</span>
    <span>: </span>
    <span class="description">@Model.Description</span>
    <span class="actions">
        @Ajax.ActionLink(completeAction, completeAction, new
        {
            id = Model.Id
        },
        new AjaxOptions
        {
            UpdateTargetId = todoElementId,
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST"
        })
        @using (Html.BeginForm(new { Action = "Delete", id = Model.Id }))
        {
            <input type="submit" value="Delete" />
        }
    </span>
</div>
