@model StuffToDo.Web.Models.TodoItem
@{ 
    var todoElementId = string.Format("todo-item-{0}", Model.Id);
    var completeAction = Model.Completed ? "Uncomplete" : "Complete";
}
<div class="todo-item @(Model.Completed ? "completed" : "uncompleted")">
    <span class="doby">@Model.DoBy.ToString("yyyy-MM-dd")</span>
    <span>: </span>
    <span class="description">@Model.Description</span>
    <span class="actions">
        @using (Html.BeginForm(new { Action = completeAction, id = Model.Id }))
        {
            <input type="submit" value="@completeAction" />
        }
        @using (Html.BeginForm(new { Action = "Delete", id = Model.Id }))
        {
            <input type="submit" value="Delete" />
        }
    </span>
</div>
